* {
    margin: 0%;
    padding: 0%;
}


body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    margin: 0px 140px 0px 140px;
}

/* Header Style */
.header {
    color: white;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/banner.png");
    /* padding: 10px 10px; */
    width: auto;
    height: 600px;
    object-fit: fill;
    background-position: center, center;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-top: 50px;


}

.banner-content {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-style: normal;
    padding: 15% 25%;
}

.banner-wish {
    font-size: 32px;
    font-weight: 400;
}

.banner-title {
    font-size: 72px;
    font-weight: 900;
}

.discount {
    margin-top: 120px;
    margin-bottom: 120px;
}

.off {
    text-align: center;
    margin-bottom: 50px;
}

.off-percentage {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.deals {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.categories {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    
}

.off-img>img{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    
}